:root {
    --wrapper-background: transparent;
    --element-background: rgba(59, 66, 82, .7);
    --element-hover: rgba(59, 66, 82, .9);
    --color-confirm: #A3BE8C;
    --color-deny: #BF616A;
    --color-secondary: #ABABAB;
    --color-btn: #323232;
    --color-btn-warn: #C58F05;
    --color-btn-secondary: #6B6B6B;
    --color-btn-primary: #1664BE;
    --color-btn-border: #FFFFFF;
    --color-btn-text: #FFFFFF;

    --standard-text-color: #ffffff;
    --standard-font-family: Droid Sans;
    --font-size-nrm: 24px;
    --font-size-big: 36px;
    --font-size-bigger: 48px;
    --font-size-biggest: 58px;
    --font-color-dark: #4A4A4A;

    --container-border-radius: 10px;
    --button-border-radius: 10px;

    --home-background: #333333;
    --panel-border-color: #1664BE;
    --panel-sub-border-color: rgba(0, 0, 0, 0.25);
    --panel-font-color: #ffffff;
    --panel-sub-font-color: #DCDCDC99;
}